body
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-image: url("../media/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contener{
  background: #34495e;
  color: #fff;
  height: 100px;
  padding: 0 20px;
  
}

h1{

  	line-height: 80px;
  	float: left;
  	font-size: 2em;

  
}
#identifier{
	margin-top: 10px;
	float: right;
	line-height: 10px;
    text-decoration: underline;
    cursor: pointer;
}

footer{
	position: absolute;
	background-color: #2ecc71;
	height: 100px;
	bottom: 0;
	width: 100%;

	

}
#foot{
	position: relative;
	text-align: center;
}
#foot p{
  margin-top: 30px;
	letter-spacing: 3px;
	font-size: 20px;
}

ul{

  	float: right;
  	line-height: 100px;

}
ul a{

	font-size: 1.5rem;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 20px;
	transition: 0.4s;
}

.smb,.hmb{
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.smb{
  float: right;
}
.smb i{
  line-height: 100px;
}
ul a:hover,.smb:hover,.hmb:hover,i:hover{
  color: #2ecc71;
}

#check{
  position: absolute;
  visibility: hidden;
}



@media only screen and (max-width: 800px) {
  .smb,.hmb{
    display: block;
}
h1{
	
	padding: 0 80px;
}
 ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
 }
 ul a{
    display: block;
    padding: 20px;
 }

 .hmb{
    position: absolute;
    top: 40px;
    right: 40px;
 }
 #check:checked ~ ul{
    right: 0;
    z-index: 1;
  }
  footer{
  	z-index: 0;
  }
}





*, :before, :after {
  box-sizing: border-box;
  margin: 0;
}



.modal {
  height: 400px;
  width: 650px;
  margin: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
}

.side {
  background: linear-gradient(-45deg, #34495e, #2ecc71);
  height: 100%;
  width: 100%;
  position: relative;
}
.side .skew {
  background: #F6F6F6;
  height: 110%;
  width: 45%;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -5%;
  z-index: 5;
  transform: skew(8deg);
}
.side .skew * {
  transform: skew(-8deg);
}
.side .skew h3 {
  color: #474747;
  font: 25px Roboto;
  text-align: center;
}
.side .skew img {
  width: 100%;
  margin: 25px 0;
}
.side .skew .btn {
  background: #474747;
  width: 180px;
  margin: 10px auto;
  padding: 10px 18px;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  cursor: default;
}

.header {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}
.header h1 {
  background: linear-gradient(-45deg, #2ed6bc, #01BCE6);
  padding: 10px 25px;
  font: 25px Roboto;
}

.form {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 56px;
  right: 0;
}

input, select, fieldset, button {
  border: none;
  outline: none;
  font: 16px Roboto;
}

fieldset {
  display: block;
}

label {
  display: block;
  color: #ffffff;
  font: 500 13px Roboto;
}

input, select {
  background: rgba(255, 255, 255, 0.18);
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
  border-radius: 3px;
  color: #FFF;
}
input:nth-last-of-type(1), select:nth-last-of-type(1) {
  margin-right: 0;
}

option {
  background: #474747;
}

.number input {
  width: calc(25% - 7px);
}

.name input {
  width: 100%;
}

.exp, .ccv {
  display: inline-block;
}

.exp {
  width: 60%;
}
.exp select {
  width: calc(50% - 5px);
}

.ccv {
  width: 40%;
}
.ccv input {
  width: 100%;
}

button {
  display: block;
  background: linear-gradient(-45deg, #2ed6bc, #01BCE6);
  width: 200px;
  color: white;
  padding: 10px 18px;
  margin: 40px auto;
  font-size: 18px;
  border-radius: 22px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.carefull{
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  text-decoration: underline;
}