html{
    background-color: blanchedalmond;
}

table {
    position:absolute;
    top: 20%;
    left: 25%;
    width: 50%;
}

table ,th, td{
    border: 1px solid;
    border-collapse: collapse;
}

td{
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 500px;
    height: 40px;
}

